.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
}

.project {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project h3::before {
    content: '';
    background-image: url('../img/icons/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: .5rem;
}

@media screen and (max-width: 400px) {
    .project a {
        font-size: .75rem;
    }
}

@media screen and (max-width: 400px) {
    .projects {
        padding: 1rem .25rem;
        margin: 0;
    }
}